@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
/*navbar*/
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
.navbar {
    background-color: #2eb494;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}
.navbar-brand {
    padding-top: 10px;
    font-size: 2em;
    color: white !important;
}
.navbar-nav > li {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.navbar-default .navbar-nav > li > a {
    padding-left: 40px;
    padding-right: 40px
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    padding-top: 30px!important;
    padding-bottom: 40px
}
.navbar-default {
    border-color: none;
}
.navbar-nav > li {
    padding-top: 40px;
    padding-bottom: 30px
}
.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
}
.navbar-nav > li:after {
    float: right;
    display: block;
    /*z-index: 999;*/
    position: relative;
    font-size: 30px;
    margin-top: -63px;
    margin-right: -4px;
}
.navbar-nav > li:last-child:after {
    content: "";
}
@media (max-width: 767px) {
    .navbar-nav > li:after {
        content: ""!important
    }
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: whitesmoke -moz-use-text-color whitesmoke;
    border-style: solid whitesmoke;
    border-width: 1px 0;
    margin: 18px 0;
}
.sidebar-nav-fixed {
    width: 14%;
}
.navbar-inverse .navbar-nav>li>a {
    color: white !important;
    font-size: 18px;
}
/*end of navbar*/

/*search box*/
#custom-search-input{
  width: 100%;
    /*padding: 3px;*/
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
/*end of search box*/

.cover{
  object-fit: cover;
  width: 100%;
  height: 460px;
}

#post-btn{
  border-radius: 1px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
