#content_ifr{
  height: 28em!important;
}
p{
  word-wrap: break-word;
}

.w3-twothird{
  box-shadow: 0em 0em 10px #888888;
}

a{
  text-decoration: none;
  color: currentColor;
}
.branding{
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 30;
  padding: 10px;
}
body{
  margin: 0;
}
.listcategory{
  text-decoration: underline;
}
.listcategory:hover{
  color:red;
}


main{
  margin: 1em;
}

footer{
  margin:0;
  background-color: yellow;
}
img{
  border-radius: 8px;
  width:600;
  height:300;
  border:solid 1px;margin:2em;"
}
/*home*/
.welcome{
  margin: 5em;
  text-align:center;
}
/*form*/
.bt{
  font-size: 16px;
  margin: 1em 4em;
  padding: 1em 3em!important;
  display: inline-block;
}
.titleform{
  margin: 1em 0;
  width: 25em;
  height: 2em;
  font-size: 2em;
  max-width: 100%;
}
/*feed*/
.content{
  /*word-wrap: break-word ;*/
  width: 100%;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 75ch;
}

.feed{
  position: relative;
  left: 20%;
  border: solid 1px;
  width: 50em;
  border-radius: 8px;
}
.moreContent:hover{
  text-decoration: underline;
  color: rgb(255, 71, 71);
}
.title{
  margin: 0 5%;
  font-size:3em;
  color: black;
  word-wrap: break-word;
}
img{
    max-width:55em;
    max-height: 30em;
    text-align: center;
    border:solid 1px;margin:2em;max-width:90%
}
/*status*/
.containst{
  position: relative;
}
.editbox{
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  margin: 5px;
}
/*show*/
.ct{
  width: 100%;
  word-wrap: break-word;
}
.insertcomment{
  background-color: rgb(200, 200, 200);
  border-radius: 8px;
  padding: 1em 1.5em;
  margin:  15px 0;
}
.showcomment{
  background-color: rgb(200, 200, 200);
  display: block;
  padding: 0 1.5em;
  border-top-left-radius:  8px;
  border-top-right-radius:  8px;
  margin-top: 3px;

}
.displayusername{
  display: inline;
  font-size: 2em;
  border-radius: 8px;

}
.displaytime{
  display: inline;
}
.displaycomment{
  background-color:rgb(230, 230, 230);
  font-size: 1em;
  border-bottom-left-radius:  8px;
  border-bottom-right-radius:  8px;
  margin-bottom:   3px;
  padding: 1.5em;

}
.insertcommentbox{
  height: 2em;
  font-size: 1.5em;
  width: 40em;
  max-width: 75%;
  border-radius: 8px;
  word-wrap: break-word;

}
.insertbt{
  margin: 3px;
  padding:0.8em  1.5em;
  border-radius: 8px;

}
