/*
Copyright (C) 2013 peter

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : 11-dic-2013, 18:06:39
    Author     : peter
*/

/* Show error messages in red */

.error { color: red; }
.meterpassdiv{
   width:300px;
    height:10px;
    margin:auto; 
}

/*login class*/

.input{
    height: 30px;
    width: 300px;
}

.centerdiv{
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 400px;
    height: 500px;
    text-align: center;
    border: 1px solid #E0E0E0;
    -webkit-box-shadow: #B3B3B3 2px 2px 2px;-moz-box-shadow: #B3B3B3 2px 2px 2px;
    box-shadow: #B3B3B3 2px 2px 2px;
            border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.divform{
    position: absolute;
    top: 5px;
    left: 7%;
    text-align: center;
}

/*login class*/


/*register class*/

.centerregister{
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 550px;
    height: 850px;
    text-align: center;
    border: 1px solid #E0E0E0;
    -webkit-box-shadow: #B3B3B3 2px 2px 2px;-moz-box-shadow: #B3B3B3 2px 2px 2px;
    box-shadow: #B3B3B3 2px 2px 2px;
        border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/*register class*/

.bt-sm {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bt-sm:hover {
    background-color: #45a049;
}

.hr{
    border-color: black
}